*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin-top: 10px;
}
section {
    width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
    section:nth-child(3n +1) {
        border-bottom: 1px solid #000;
    }
    section:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }
    section:nth-child(3) {
        border-bottom: 1px solid #ccc;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .title {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 2px solid #000;
    }
    .banner {
        display: flex;
        overflow-x: scroll;
        padding: 10px;
        width: 100%;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        gap: 12px;
    }
    .banner-item {
        width: 10px;
        height: 220px;
        background-color: aquamarine;
        flex: 0 0 100%;
        padding: 24px;
        scroll-snap-align: start;
    }
    .nav-content {
        width: 90%;
        margin: 0 auto ;
        padding-bottom: 10px;
    }
    .image {
        width: 90%;
        height: 200px;
        background-color: aquamarine;
        margin: 0 auto ;
    }
    section:nth-child(4) .container {
        display: flex;
        justify-content: space-between;
    }
    section:nth-child(odd) {
        background-color:#f9f6ed;
    }
    .item {
        width: 90%;
        display: flex;
        margin:  0 auto;
    }
    .container .item:nth-child(n + 2) {
        margin-top: 10px;
    }
    .image-item {
        width: 90px;
        height: 90px;
        background-color: aquamarine;
    }
    .content-item {
        max-width: calc(100% - 110px);
        margin-left: 10px;
    }
    .content-item p {
        overflow: scroll;
    }
    section:nth-child(4) .container {
        flex-direction: column;
    }
}
@media only screen and (min-width: 401px) and (max-width: 800px) {
    section:nth-child(3n +1) {
        border-bottom: 1px solid #000;
    }
    section:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }
    section:nth-child(3) {
        border-bottom: 1px solid #ccc;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .title {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 2px solid #000;
    }
    .banner {
        display: flex;
        overflow-x: scroll;
        padding: 20px;
        width: 100%;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        gap: 12px;
    }
    .banner-item {
        width: 10px;
        height: 220px;
        background-color: aquamarine;
        flex: 0 0 100%;
        padding: 24px;
        scroll-snap-align: start;
    }
    .nav-content {
        width: 80%;
        margin: 0 auto ;
        padding-bottom: 10px;
    }
    .image {
        width: 80%;
        height: 200px;
        background-color: aquamarine;
        margin: 0 auto ;
    }
    section:nth-child(4) .container {
        display: flex;
        justify-content: space-between;
    }
    section:nth-child(odd) {
        background-color:#f9f6ed;
    }
    .item {
        width: 80%;
        display: flex;
        margin:  0 auto;
    }
    .container .item:nth-child(n + 2) {
        margin-top: 10px;
    }
    .image-item {
        width: 90px;
        height: 90px;
        background-color: aquamarine;
    }
    .content-item {
        max-width: calc(100% - 110px);
        margin-left: 10px;
    }
    section:nth-child(4) .container {
        flex-direction: column;
    }
}  
@media only screen and (min-width: 801px) and (max-width: 1023px) {
    section:nth-child(3n +1) {
        border-bottom: 1px solid #000;
    }
    section:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }
    section:nth-child(3) {
        border-bottom: 1px solid #ccc;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .title {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 2px solid #000;
    }
    .banner {
        display: flex;
        overflow-x: scroll;
        padding: 24px;
        width: 100%;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        gap: 12px;
    }
    .banner-item {
        width: 10px;
        height: 220px;
        background-color: aquamarine;
        flex: 0 0 100%;
        padding: 24px;
        scroll-snap-align: start;
    }
    .nav-content {
        width: 48%;
    }
    .image {
        width: 48%;
        height: 200px;
        background-color: aquamarine;
    }
    section:nth-child(n + 2) .container {
        display: flex;
        justify-content: space-between;
    }
    section:nth-child(odd) {
        background-color:#f9f6ed;
    }

    section:nth-child(3) .container {
        flex-direction: row-reverse;
    }
    .item {
        width: 100%;
        display: flex;
    }
    .container .item:nth-child(n + 2) {
        margin-top: 10px;
    }
    .image-item {
        width: 90px;
        height: 90px;
        background-color: aquamarine;
    }
    .content-item {
        max-width: calc(100% - 110px);
        margin-left: 10px;
    }
    section:nth-child(4) .container {
        flex-direction: column;
    }
}
@media only screen and (min-width: 1024px) {
    section:nth-child(3n +1) {
        border-bottom: 1px solid #000;
    }
    section:nth-child(2) {
        border-bottom: 1px solid #ccc;
    }
    section:nth-child(3) {
        border-bottom: 1px solid #ccc;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .title {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 2px solid #000;
    }
    .banner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px 0;
    }
    .banner-item {
        width: 22%;
        height: 220px;
        background-color: aquamarine;
        margin: 10px 0;
    }
    .nav-content {
        width: 48%;
    }
    .image {
        width: 48%;
        height: 200px;
        background-color: aquamarine;
    }
    section:nth-child(n + 2) .container {
        display: flex;
        justify-content: space-between;
    }
    section:nth-child(odd) {
        background-color:#f9f6ed;
    }
    section:nth-child(3) .container {
        flex-direction: row-reverse;
    }
    .item {
        width: 48%;
        display: flex;
    }
    .item:nth-child(odd) {
        margin-bottom: 10px;
    }
    .image-item {
        width: 90px;
        height: 90px;
        background-color: aquamarine;
    }
    .content-item {
        max-width: calc(100% - 110px);
        margin-left: 10px;
    }
    section:nth-child(4) .container {
        flex-direction: column;
        flex-wrap: wrap;
        height: 210px;
        justify-content: space-between;
    }
}   