*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
    }
    #logo {
        flex: 1;
        line-height: 40px;
        border: 1px solid #000;
        text-align: center;
    }
    .div-btn {
        flex: 2;
        display: flex;
    }
    .btn {
        margin: 2px 0;
        margin-left: 10px;
        line-height: 34px;
        border: none;
        width: 50%;
        border-radius: 5px;
        color: #fff;
        background-color: blue;
    }
    #menu {
        flex-direction: column;
        padding: 10px;
    }
    .nav-menu {
        width: 100%;
    }
    .sub-menu {
        display: block;
        width: 100%;
        line-height: 40px;
        text-align: center;
        background-color: blue;
        color: #fff;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    label {
        width: 100%;
        display: block;
    }
    .sub-item-2 li, .sub-item-3 li {
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
        margin-top: 10px;
    }
    .btn-input-menu2 ,.btn-input-menu3 {
        display: none;
    }
    .btn-input-menu2:checked ~ .sub-item-2 {
        display: none;
    }
    .btn-input-menu3:checked ~ .sub-item-3 {
        display: none;
    }
    .search {
        width: 100%;
        display: flex;
    }
    .search button {
        line-height: 40px;
        width: 20%;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
        border: 1px solid #666;

    }
    .search input {
        width: 80%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        outline: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 680px) { 
    header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
    }
    #logo {
        width: 100px;
        line-height: 40px;
        border: 1px solid #000;
        text-align: center;
    }
    .btn {
        margin: 2px 0;
        margin-left: 10px;
        line-height: 34px;
        border: none;
        width: 100px;
        border-radius: 5px;
        color: #fff;
        background-color: blue;
    }
    #menu {
        justify-content: space-between;
        padding: 5px 10px;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .nav-menu {
        width: 100%;
    }
    .nav-menu ul {
        display: flex;
    }
    .nav-menu .sub-menu {
        width: 25%;
        display: block;
        line-height: 40px;
        text-align: center;
        background-color: blue;
        color: #fff;
        margin: 0 5px;
        border-radius: 10px;
        outline: none;
    }
    .sub-menu:focus {
        outline: none;
    }
    .menu-sub-item {
        position: relative;
    }
    .menu-sub-item:focus{
        outline: none;
    }
    .sub-item-2 li, .sub-item-3 li {
        display: block;
    }
    label {
        width: 100%;
        display: block;
    }
    .sub-item-2, .sub-item-3 {
        display: none;
        position: absolute;
        flex-direction: column;  
        color: #000;
        width: 100%;
        box-shadow: 1px 0px 5px #ccc,1px 1px  5px #ccc;
        top: 41px;
        z-index: 1;
    }
    .btn-input-menu2 ,.btn-input-menu3 {
        display: none;
        outline: none;
    }
    .btn-input-menu2:checked ~ .sub-item-2 {
        display: none;
    }
    .btn-input-menu3:checked ~ .sub-item-3 {
        display: none;
    }
    .search {
        width: 100%;
        display: flex;
        margin-top: 10px;
    }
    .search button {
        line-height: 40px;
        width: 20%;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
        border: 1px solid #666;

    }
    .search input {
        width: 80%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        outline: none;
    }
}
@media only screen and (min-width: 681px) and (max-width: 1023px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
    }
    #logo {
        width: 100px;
        line-height: 40px;
        border: 1px solid #000;
        text-align: center;
    }
    .btn {
        margin: 2px 0;
        margin-left: 10px;
        line-height: 34px;
        border: none;
        width: 100px;
        border-radius: 5px;
        color: #fff;
        background-color: blue;
    }
    #menu {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .nav-menu ul {
        display: flex;
    }
    .nav-menu .sub-menu {
        width: 100px;
        display: block;
        line-height: 40px;
        text-align: center;
        background-color: blue;
        color: #fff;
        margin-right: 10px;
        border-radius: 10px;
        outline: none;
    }
    .sub-menu:focus {
        outline: none;
    }
    .menu-sub-item {
        position: relative;
    }
    .menu-sub-item:focus{
        outline: none;
    }
    .sub-item-2 li, .sub-item-3 li {
        display: block;
    }
    label {
        width: 100%;
        display: block;
    }
    .sub-item-2, .sub-item-3 {
        display: none;
        position: absolute;
        flex-direction: column;  
        color: #000;
        width: 100px;
        box-shadow: 1px 0px 5px #ccc,1px 1px  5px #ccc;
        top: 34px;
        
    }
    .btn-input-menu2 ,.btn-input-menu3 {
        display: none;
        outline: none;
    }
    .btn-input-menu2:checked ~ .sub-item-2 {
        display: none;
    }
    .btn-input-menu3:checked ~ .sub-item-3 {
        display: none;
    }
    .search {
        width: 220px;
        display: flex;
    }
    .search button {
        width: 40px;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
        border: 1px solid #666;

    }
    .search input {
        width: 180px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        outline: none;
    }
}
@media only screen and (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
    }
    #logo {
        width: 100px;
        line-height: 40px;
        border: 1px solid #000;
        text-align: center;
    }
    #menu {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid #000;
        margin-top: 10px;
    }
    .btn {
        margin: 2px 0;
        margin-left: 10px;
        line-height: 34px;
        border: none;
        width: 100px;
        border-radius: 5px;
        color: #fff;
        background-color: blue;
    }
    .nav-menu ul {
        display: flex;
    }
    .nav-menu .sub-menu {
        width: 100px;
        display: block;
        line-height: 40px;
        text-align: center;
        background-color: blue;
        color: #fff;
        margin-right: 10px;
        border-radius: 10px;
        outline: none;
    }
    .sub-menu:focus {
        outline: none;
    }
    .menu-sub-item {

        position: relative;
    }
    .menu-sub-item:focus{
        outline: none;
    }
    /* .menu-sub-item::after .arow {
        border-top: 10px solid #fff;
    } */
    .sub-item-2 li, .sub-item-3 li {
        display: block;
    }
    label {
        width: 100%;
        display: block;
    }
    .sub-item-2, .sub-item-3 {
        display: none;
        position: absolute;
        flex-direction: column;  
        color: #000;
        width: 100px;
        box-shadow: 1px 0px 5px #ccc,1px 1px  5px #ccc;
        top: 34px;
        
    }
    .btn-input-menu2 ,.btn-input-menu3 {
        display: none;
        outline: none;
    }
    .btn-input-menu2:checked ~ .sub-item-2 {
        display: none;
    }
    .btn-input-menu3:checked ~ .sub-item-3 {
        display: none;
    }
    .search {
        width: 220px;
        display: flex;
    }
    .search button {
        width: 40px;
        box-sizing: border-box;
        border-radius: 0 5px 5px 0;
        border: 1px solid #666;

    }
    .search input {
        width: 180px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
        outline: none;
    }
}