*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bars-btn {
    display: none;
}
.nav-search-btn {
    display: none;
}
.nav-menu-btn {
    width: 28px;
    height: 28px;
}
.btn-close {
    width: 32px;
    height: 32px;
    color: #666; 
    position: absolute;
    right: 0;
}
#nav-mobile-input {
    display: none;
}
.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.nav-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 320px;
    background-color: #FFF;
    transform: translateX(-100%);
}
@media only screen and (min-width: 320px) and (max-width: 740px) {
    .nav-bars-btn{
        display: block;
        width: 30px;
        height: 30px;
    }
    .nav-header {
        width: 100%;
        display: flex;
    }
    .head {
        width: calc(100% - 28px);
        display: flex;
    }
    #template-name {
        display: none;
    }
    #action{
        width: 50%;
        background-color: burlywood;
    }
    #logo{
        width: 50%;
        background-color: aqua;
    }
    #menu {
        width: calc(100% - 30px);
        background-color: darkcyan;
    }
    #search .nav-search-btn {
        display: block;
        width: 30px;
        height: 30px;
    }
    #search p {
        display: none;
    }
    #banner {
        width: 100%;
        background-color: darkorchid;
    }
    #action p,#logo p,#menu p,#banner p {
        line-height: 30px;
        text-align: center;     
    }
    section {
        width: 100%;
    }
    #sidebar-left {
        display: none;
    }
    #sidebar-right {
        display: none;
    }
    #main-content {
        background-color: burlywood;
    }
    #main-content p {
        line-height: 400px;
        text-align: center;  
    }
    footer {
        width: 100%;
        background-color: violet;
    }
    footer p {
        line-height: 40px;
        text-align: center;
    }
    .nav-input:checked ~ .nav-overlay {
        display: block;
    }
    .nav-input:checked ~ .nav-mobile {
        transform: translateX(0);
    }
       
}
@media only screen and (min-width: 741px) and (max-width: 1023px) {
    .nav-header {
        width: 100%;
        display: flex;
    }
    .nav-bars-btn{
        display: block;
        width: 28px;
        height: 28px;
        margin: 6px 0;
    }
    .head {
        width: 100%;
        display: flex;
    }
    #template-name {
        width: 40%;
        background-color: coral;
    }
    #logo{
        width: 30%;
        background-color: aqua;
    }
    #action {
        width: 30%;  
        background-color: burlywood;
    }
    #menu {
        width: calc(70% + 28px) ;
        background-color: darkcyan;
    }
    #search {
        width: calc(30% ); 
        background-color: aqua;
    }
    #banner {
        width: 100%;
        background-color: darkorchid;
    }
    #action p,#logo p,#template-name p,#menu p,#search p,#banner p {
        line-height: 40px;
        text-align: center;     
    }
    section {
        width: 100%;
    }
    #sidebar-left {
        display: none;
    }
    #sidebar-right {
        display: none;
    }
    #main-content {
        margin: 0 auto;
        width: 70%;
        background-color: burlywood;
    }
    #main-content p {
        line-height: 400px;
        text-align: center;  
    }
    footer {
        width: 100%;
        background-color: violet;
    }
    footer p {
        line-height: 40px;
        text-align: center;
    }
    .nav-input:checked ~ .nav-overlay {
        display: block;
    }
    .nav-input:checked ~ .nav-mobile {
        transform: translateX(0);
    }
}
@media only screen and (min-width: 1024px) {
    .nav-header {
        width: 100%;
        display: flex;
    }
    .head {
        width: 100% ;
        display: flex;
    }
    #logo{
        width: 30%;
        text-align: center;
        background-color: aqua;
    }
    #template-name {
        width: 40%;
        text-align: center;
        background-color: coral;
    }
    #action {
        width: 30%;  
        text-align: center; 
        background-color: burlywood;
    }
    #menu {
        width: 70%;
        background-color: darkcyan;
    }
    #search {
        width: 30%; 
        background-color: aqua;
    }
    #banner {
        width: 100%;
        background-color: darkorchid;
    }
    #action p,#logo p,#template-name p,#menu p,#search p,#banner p {
        line-height: 50px;
        text-align: center;     
    }
    section {
        width: 100%;
        display: flex;
    }
    #sidebar-left {
        width: 15%;
        background-color: aquamarine;
    }
    #sidebar-right {
        width: 15%;
        background-color: aquamarine;
    }
    #main-content {
        width: 70%;
        background-color: burlywood;
    }
    #sidebar-left p, #sidebar-right p, #main-content p {
        line-height: 400px;
        text-align: center;  
    }
    footer {
        width: 100%;
        background-color: violet;
    }
    footer p {
        line-height: 50px;
        text-align: center;
    }
    
}