*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
    .container {
        width: 300px;
        flex-direction: column;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .image-main {    
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
        height: 50%;
        border-radius: 5px;
    }
    .nav-item {  
        height: auto;
        padding: 5px 0;
        display: flex;
    }
    .image-mini {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        line-height: 100px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .content {
        width: calc(100% - 100px);
        padding: 5px 0px 5px 20px;
        height: auto;
        box-sizing: border-box;
    }
    .content h2 {
        padding-bottom: 10px;
    }
    .image-main p {
        line-height: 100px;
    }
    .item:nth-child(even) .nav-item {
        border-bottom: 1px solid #000;
    }
    .item:nth-child(odd) .nav-item {
        border-bottom: 2px solid #ccc;
    }
}
@media only screen and (min-width: 451px) and (max-width: 650px) {
    .container {
        width: 400px;
        flex-direction: column;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .image-main {    
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
        height: 50%;
        border-radius: 5px;

    }
    .nav-item {      
        height: auto;
        display: flex;
        padding: 5px 0;
    }
    .image-mini {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
    }
    .content {
        width: calc(100% - 100px);
        padding: 5px 0px 5px 20px;
        height: auto;
        box-sizing: border-box;
    }
    .content h2 {
        padding-bottom: 10px;
    }
    .image-mini p {
        line-height: 80px;
    }
    .image-main p {
        line-height: 100px;
    }
    .item:nth-child(even) .nav-item {
        border-bottom: 1px solid #000;
    }
    .item:nth-child(odd) .nav-item {
        border-bottom: 2px solid #ccc;
    }
}
@media only screen and (min-width: 651px) and (max-width: 1023px) {
    .container {
        width: 600px;
        flex-direction: column;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .image-main {    
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
        height: 50%;
        border-radius: 5px;
    }
    .nav-item {      
        height: auto;
        display: flex;
        padding: 5px 0;
    }
    .image-mini {
        width: 88px;
        height: 100%;
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
    }
    .content {
        width: calc(100% - 88px);
        padding: 5px 0px 5px 20px;
    }
    .image-mini p {
        line-height: 80px;
    }
    .image-main p {
        line-height: 100px;
    }
    .item:nth-child(even) .nav-item {
        border-bottom: 1px solid #000;
    }
    .item:nth-child(odd) .nav-item {
        border-bottom: 2px solid #ccc;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 900px;
        flex-direction: column;
        margin: 0 auto;
    }
    .item {
        width: 100%;
        display: flex;
        height: auto;
        margin-top: 10px;
    }
    .item:nth-child(even) .nav-item {
        border-bottom: 1px solid #000;
    }
    .item:nth-child(odd) .nav-item {
        border-bottom: 2px solid #ccc;
    }
    .nav-item {
        width: 70%;
        display: flex;
        padding: 15px 0;
    }
    .image-mini {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        text-align: center;
        border: 1px solid #ccc;
    }
    .image-mini p {
        line-height: 70px;
    }
    .content {
        flex: 8;
        margin-left: 10px;
    }
    .image-main {
        width: 30%;
        margin: 0px 10px;
        background-color: aquamarine;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #ccc;
    }
    .image-main p {
        line-height: 100px;
    }
}